@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Nunito&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

iput,
textarea,
button {
  font-size: inherit;
}

/* GENERALES */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  max-width: 100%;
  margin: auto;
  font-family: var(--FF-N);
  font-size: var(--FS);
  color: var(--BLANCO);
}

html {
  scroll-behavior: smooth;
}

a:any-link {
  color: var(--BLANCO);
}

/* VARIABLES */
:root {
  /* FONTS */
  --FS: 1.5rem;
  --FF-N: "Nunito", sans-serif;
  --FF-B: "Bebas Neue", sans-serif;
  --FF-P: "Pacifico", sans-serif;
  /* COLORES */
  --ROJO: #ff4c4c;
  --NEGRO: #262626;
  --BLANCO: whitesmoke;
  /* PADDING */
  --PADDING: 0.5rem;
}

/* HEADER */
.header i {
  font-size: 150%;
 
}

.header__h1 {
  font-family: var(--FF-B);  
  letter-spacing: 3px;  
}

#subtitulo{
  font-style: italic;
}

.header {
  padding-inline: var(--PADDING);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--NEGRO);
  box-shadow: 0px 3px 3px var(--NEGRO);
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  max-width: 3200px;
  z-index: 1;
}

.header__ul {
  display: flex;
  gap: 1rem;
}

.header a {
  display: inline-block;
  padding-block: var(--PADDING);
}

.header a:hover {
  background-color: var(--BLANCO);
  color: var(--NEGRO);
}

.header__button>div {
  height: 4px;
  width: 30px;
  background-color: var(--BLANCO);
}

.header__button {
  display: none;
  flex-flow: column nowrap;
  gap: 5px;
  background-color: var(--NEGRO);
  border: none;
}

.secciones{
  background-color: grey;
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
  height: 30px;
  line-height: 0px;
  font-size: large;
  font-family: sans-serif;
  font-weight: 100;  
}

/* SECCION 1  */

.primero {
  background-image: url(img/bmw.jpg);
  padding: var(--PADDING);
  position: relative;
  width: 100%;
  height: 100vh;
}

.primero__h2 {
  font-size: clamp(3.5rem, 13vw, 10rem);
  font-family: var(--FF-B);
  letter-spacing: 3px;
  position: absolute;
  bottom: 10%;
  font-style: italic;
}

.primero__p--segundo {
  transition: all 1s 0.5s;
  opacity: 0;
  color: var(--ROJO);
  transform: translateY(-100%);
  display: inline-block;
  font-style: italic;
}

.primero:hover .primero__p--segundo {
  opacity: 1;
  transform: translateY(0);
}

/* SECCION 2 */

.segundo {
  height: 90vh;
  padding: 10px;
  /* Altura del 90% del viewport */
}

.coches {
  color: var(--NEGRO);
  text-align: center;
  font-family: var(--FF-B);
}

/* Contenedor de autos */
.contenerdorAutos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


}

/* Elemento individual (auto) */
.elemento {
  flex: 1 0 45%;
  margin: 10px;
  padding: 15px;
  border: 1px solid var(--NEGRO);
  color: var(--NEGRO);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  /* Ocultar contenido que se salga */
}

/* Imagen dentro del elemento */
.elemento img {
  max-height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 10px;
}



@media (max-width: 768px) {
  .elemento {
    flex: 1 0 100%;
  }
}

@media (max-width: 480px) {
  .elemento {
    padding: 10px;
  }
}

/* MEDIA Q */
@media screen and (max-width: 768px) {
  .header__ul {
    flex-flow: column;
    gap: 0;
  }

  .header__button {
    display: flex;
  }

  .header a {
    width: 100%;
    text-align: center;
  }

  .header__nav {
    display: none;
    width: 100%;
    top: 70px;
    background-color: var(--NEGRO);
  }

  .primero {
    background-position: 90%;
  }

  .primero__h2 {
    bottom: 20%;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: unset !important;
  }
}

@media screen and (max-width: 425px) {
  .primero {
    background-position: 85%;
  }

  .primero__h2 {
    bottom: 30%;
  }
}

.tercera {
  height: 70vh;
  background-color: var(--ROJO);
}

#tituloRS{
  color: black;
  text-align: center;
}

#Copyright{
  color: black;
  text-align: center;
}

/*Footer*/

/*Íconos de redes sociales*/
.contenedor{
  margin: 0;    
  top: 140%;
  left: 50%;
  text-align: center;    
}

i{
  text-align: center;
  font-size: 25px;
  color: black;
  margin: 25px;
  border-radius: 50%;
  padding: 7.5px;
  box-shadow: 0px 5px 10px rgb(0,0,0, .35);
  transition: 0.5s ease;
}

.fa-whatsapp:hover{
  background-color: #25D366;
  color: white;
  transform: scale(1.2);
  box-shadow: 0 0 25px #25D366;                
}

.fa-youtube:hover{
  background-color: #E10600;
  color: white;
  transform: scale(1.2);
  box-shadow: 0 0 25px #E10600;                
}

.fa-facebook:hover{
  background-color: #3b5998;
  color: white;
  transform: scale(1.2);
  box-shadow: 0 0 25px #3b5998             
}

.fa-twitter:hover{
  background-color: #00acee;
  color: white;
  transform: scale(1.2);
  box-shadow: 0 0 25px #00acee             
}

.fa-instagram:hover{
  background-color: #cd486b;
  color:  white;
  transform: scale(1.2);
  box-shadow: 0 0 25px #cd486b             
}       